@import "tailwindcss";
@theme {
  --color-main: #08121e;  
  --color-secondary: #0978e7;
  --color-text: #eeeeee;
  --color-inverted: #ffffff;
  --color-muted: #194982;
  --color-bg-cards: #092343;
  --color-border-grd: ;
}

.bg-custom-gradient {
  background: linear-gradient(
    90.94deg,
    #0e3c71 -7.1%,
    #197df1 14.95%,
    #0e3c71 83.7%
  );
}

html,
body {
  background-color: var(--color-main);
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
}
